<!--form class="sidebar-search-container" method="get" action="{{ pathto('search') }}" role="search">
  <input class="sidebar-search" placeholder={{ _("Search") }} name="q" aria-label="{{ _("Search" )}}">
  <input type="hidden" name="check_keywords" value="yes">
  <input type="hidden" name="area" value="default">
</form>
<div id="searchbox"></div-->
